@using System.Collections
@*
    Color
*@
@{
}

@model IQueryable<string>

<div class="d-grid gap-2">
    @foreach (string co in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(co == ViewBag.SelectedColor ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="BrowseProducts" asp-route-color="@co" asp-route-pageNum="1">@co</a>
    }
</div>