@{
    ViewData["Title"] = "Home";
}

@model IQueryable<Product>;

<div class="hero">
    <picture>
        <source media="(min-width: 100px)" srcset="~/img/legowoverlay2-2000px.jpg" />
        
        <img src="~/img/legowoverlaybanner-2000px.jpg"
             alt="Legos of many colors scattered on floor">
    </picture>
    <div class="hero-text-wrapper">
        <h1>Brickwell</h1>
        <p>
            <a class=".herobutton" asp-controller="Home" asp-action="BrowseProducts"><em>SHOP NOW</em></a>
        </p>
    </div>
</div>

    <div class="container">
        <main role="main" class="pb-3">
           
        </main>
        
        
    </div>
    <div class="trending-products">
        <div>
            <h3>Trending Products</h3>
        </div>
        <div>
            <vc:product-list products="@ViewBag.TopProducts"/>
        </div>
    </div>
    
<div class="hero">
    <picture>
        <img src="img/legomoviecity.jpeg"
             alt="Legos of many colors scattered on floor">
    </picture>
    <div class="hero-text-wrapper">
        <h1>Aurora's Collection</h1>
        <p>
            <a class=".herobutton" asp-controller="Home" asp-action="BrowseProducts"><em>SHOP NOW</em></a>
        </p>
    </div>
</div>
        
<div class="recommended-products">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <h3>Recommended For You</h3>
            }
            else
            {
                <h3>We're Loving</h3>
            }
        </div>
        <div>
            <vc:product-list products="@ViewBag.RecommendedProducts"/>
        </div>
    </div>



@* @foreach (var p in Model) 
{
    <h1>@p.ProductName</h1>
} *@
