@{
    ViewData["Title"] = "Home";
}

@model IQueryable<Product>;


<div class="hero">
    <picture>
        <source media="(min-width: 100px)" srcset="~/img/legowoverlay2-2000px.jpg" />
        
        <img src="~/img/legowoverlaybanner-2000px.jpg"
             alt="Legos of many colors scattered on floor">
    </picture>
    <div class="hero-text-wrapper">
        <h1>Brickwell</h1>
        <p>
            <a class=".herobutton" asp-controller="Home" asp-action="BrowseProducts"><em>SHOP NOW</em></a>
        </p>
        <br/>
        <br/>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
           
    </main>
        
        
</div>
<br/>
    <div class="trending-products">
        <div class="brickwell-heading">
            <img src="~/img/bricklego.png" alt="lego" class="brickwell-logo">
            <h3>Trending Products</h3>
        </div>
        <div>
            <vc:product-list products="@ViewBag.TopProducts"/>
        </div>
    </div>
<br/>  
<div class="hero">
    <picture>
        <img src="img/legomoviecity.jpeg"
             alt="Legos of many colors scattered on floor">
    </picture>
    <div class="hero-text-wrapper">
        <h1>Aurora's Collection</h1>
        <p>
            <a class=".herobutton" asp-controller="Home" asp-action="BrowseProducts"><em>SHOP NOW</em></a>
        </p>
        <br/>
    </div>
</div>
<br/>
<div class="recommended-products">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <img src="~/img/heartlego-01.png" alt="lego" class="brickwell-logo">
                    <h3 style="text-align: center; font-size: 3.5em;">Recommended For You</h3>
                </div>
                
            }
            else
            {
                <div class="brickwell-heading">
                    <img src="~/img/heartlego-01.png" alt="lego" class="brickwell-logo">
                    <h3>We're loving it</h3>
                </div>

            }
        </div>
        <div>
            <vc:product-list products="@ViewBag.RecommendedProducts"/>
        </div>
    </div>


@* @foreach (var p in Model) 
{
    <h1>@p.ProductName</h1>
} *@
