@{
    ViewData["Title"] = "Home";
}

@model IQueryable<Product>;

<div class="hero">
    <picture>
        <source media="(min-width: 801px)" srcset="~/img/lego-hero-2000px.jpg" />
        <source media="(min-width: 401px)" srcset="~/img/lego-hero-800px.jpg"/>
        <source media="(max-width: 400px)" srcset="~/img/lego-hero-400px.jpg"/>
        <img src="images/hero-breakfast-800px.jpg"
             alt="Legos of many colors scattered on floor">
    </picture>
    <div class="hero-text-wrapper">
        <h1>Brickwell</h1>
        <p>
            <a class=".herobutton"><em>SHOP NOW</em></a>
        </p>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <p>bla bla bla</p>
    </main>
</div>


@* @foreach (var p in Model) 
{
    <h1>@p.ProductName</h1>
} *@
