<h1>Admin Home</h1>
<div class="text-center">
  <a asp-controller="Admin" asp-action="ManageUsers" class="btn btn-dark">Manage Users</a>
  <a asp-controller="Admin" asp-action="ManageProducts" class="btn btn-dark">Manage Products</a>
  <a asp-controller="Admin" asp-action="ManageOrders" class="btn btn-dark">Manage Orders</a>
</div>
