@model Product

@{
    ViewData["Title"] = "Product";
}

<form action="" method="post" class="mt-4">
  <input type="hidden" asp-for="ProductId">
    <div class="form-group">
        <label asp-for="ProductName" class="font-weight-bold">Product Name:</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="font-weight-bold">Year:</label>
        <input asp-for="Year" type="number" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumParts" class="font-weight-bold">Number of Parts:</label>
        <input asp-for="NumParts" type="number" class="form-control" />
        <span asp-validation-for="NumParts" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="font-weight-bold">Price:</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgLink" class="font-weight-bold">Image Link:</label>
        <input asp-for="ImgLink" class="form-control" />
        <span asp-validation-for="ImgLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrimaryColor" class="font-weight-bold">Primary Color:</label>
        <input asp-for="PrimaryColor" class="form-control" />
        <span asp-validation-for="PrimaryColor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecondaryColor" class="font-weight-bold">Secondary Color:</label>
        <input asp-for="SecondaryColor" class="form-control" />
        <span asp-validation-for="SecondaryColor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductDescription" class="font-weight-bold">Product Description:</label>
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="font-weight-bold">Category:</label>
        <select asp-for="Category" class="form-control">
          <option value="Star Wars">Star Wars</option>
          <option value="DC">DC</option>
          <option value="Vehicle">Vehicle</option>
          <option value="Part">Part</option>
          <option value="Harry Potter">Harry Potter</option>
          <option value="Colorful">Colorful</option>
          <option value="Structure">Structure</option>
          <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
