.brickwell-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brickwell-logo {
    height: 80px;
    width: auto;
    margin-right: 5px;
}

.brickwell-header h2 {
    margin: 0;
    font-size: 3em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-bar {
    background-color: black;
    height: 20px;
    width: 100%;
    margin-top: -20px; /* Adjust the margin to make it super close */
    margin-bottom: 0; /* Remove any bottom margin */
    padding: 0; /* Remove any padding */
}
