/*CSS Variables*/
:root {
    --indigo: #364573;
    --misty-violet: #6d226b;
    --soft-magenta: #b56576;
    --bright-rose: #e56b6f;
    --sandy: #faeae1;
    --color-svg: white;
    --color-svg-hover: #364573;
    --color-svg-close: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,content,
textarea,
select {
    font: inherit;
}

main {
    align-self: center;
    padding: 0 1rem;
    max-width: 70rem;
}

.content {
    flex: 1; /* Allow the content to grow to fill the available space */
}


/*article,
aside {
    margin-bottom: 4em;
}*/

aside {
    margin-left: 1em;
}

/* Hero */
.hero {
    position: relative;
}

.hero h1 {
    font-size: clamp(3.5rem, 10vw + 1rem, 10rem);
    text-shadow: black 2px 2px 3px;
    color: white;
}

.hero h2 {
    font-size: clamp(3.5rem, 10vw + 1rem, 5rem);
    text-shadow: black 2px 2px 3px;
    color: white;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 40% 0 0 0;
    text-align: center;
}

.hero p {
/*    color: black;
*/    text-shadow: black 1px 1px 2px;
    font-size: clamp(0.2rem, 1vw + 0.75rem, 4rem);
}

.hero::before {
    content: "";
    background-image: linear-gradient(to top, #000, transparent 50%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.2em 0.4em;
    display: inline-block;
    transition: background-color 300ms ease, color 300ms ease;
    margin-top: 1em;
}

.hero a:hover {
    color: white;
    background-color: red;
}

/* Cards */
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.cards {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card {
    flex: 1 1 0;
    padding: 0.6rem;
    max-width: 1000px;
    transition: background-color 300ms ease, font-weight 300ms ease;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.card:hover {
    background-color: rgb(0 0 0 / 10%);
    font-weight: bold;
}

.bordered-image {
    border: 20px solid #FEC107; /* Adjust the width and color as needed */
    
}

.container2 {
    text-align: center;
}

.container img {
    display: inline-block;
}

.full-width-image {
    width: 100%;
}

.site-footer {
    padding-top: 150px; /* Adjust the padding value as needed */
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
    bottom: 0;
    margin: 0;
}


.site-footer .container {
    text-align: center;
}

.btn.btn-outline-secondary {
    border-color: #000000; /* Set border color to black */
    color: #000000; /* Set text color to black */
}

    .btn.btn-outline-secondary:hover {
        background-color: #FEC107; /* Change background color to yellow on hover */
    }

.btn-primary {
    background-color: #FEC107; /* Change background color to yellow */
    border-color: #FEC107; /* Change border color to yellow */
    color: black; /* Change text color */
}

.privacy {
    text-decoration: none;
    color: black;
}