/*CSS Variables*/
:root {
    --indigo: #364573;
    --misty-violet: #6d226b;
    --soft-magenta: #b56576;
    --bright-rose: #e56b6f;
    --sandy: #faeae1;
    --color-svg: white;
    --color-svg-hover: #364573;
    --color-svg-close: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}