@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order Confirmation";
}
@model Order

<div class="hero">
    <picture>
        <source media="(min-width: 801px)" srcset="~/img/legowoverlaybanner-2000px.jpg" />

        <img src="~/img/legowoverlaybanner-2000px.jpg"
             alt="Legos of many colors scattered on floor">
    </picture>
    
</div>
<br />
<br />

<div class="container">
    <main role="main" class="pb-3">
        <h2>Thank you for placing an order!</h2>

        @if (Model.FraudFlag == "Fraud"){
            <p>Your order is currently under review. You will be notified when it is ready to be shipped.</p>
        }
        else
        {
            <p>Order #@Model.TransactionId will be shipped to you soon.</p>
            
        }

    </main>
</div>



